[submodule "src/assets/reveal.js"]
	path = src/assets/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "src/assets/highlight.js"]
	path = src/assets/highlight.js
	url = https://github.com/highlightjs/cdn-release.git
